* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    width: 100%;
}

.container {
    background-color: antiquewhite;
    text-align: center;   
}

.container img{
    max-width: 300px;
    height: auto;
}

form {
display: flex;
flex-direction: column;
padding: 10px;
}

form button {
    padding: 10px;
    width: 90px;
    height: 40px;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    margin-left: 80%;
}
form h1, p {
    text-align: center;
    padding: 10px;
}

form label {
    margin-left: 20px;
}

form input {
    display: flex;
    width: 75%;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#closeButton {
    /* text-align: center;
    width: 300px;
    padding-top: 10px; 
    */

    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-top: 50px;
}


/* ---------- MEME ---------------- */

.memeContainer{
    /* background-color: white; */
    text-align: center; 
    /* height: auto; */
    
}

.meme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topText {
    background-color: white;
    padding: 5px;
    /* position: absolute;
    top: 10px;
    left: 10px;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    color:white; */
}

.botText {
    background-color: white;
    padding: 5px;
    /* background-color: red; */
}